@import "tailwindcss";

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #000000;
    color: #ffffff;
}

html,
body {
    overscroll-behavior-y: auto;
    overflow: hidden;
    /* Prevent body scroll, handle in app */
    user-select: none;
    /* App-like feel, non-selectable UI */
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Allow text selection in inputs */
input,
textarea {
    user-select: text;
    -webkit-user-select: text;
}

/* Hide Scrollbar but allow scroll */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}